@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply transition-colors;
  }
}

@layer utilities {
  .app-grid {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
  }

  .text-heading {
    @apply text-xl font-bold sm:text-2xl lg:text-3xl;
  }

  .text-content {
    @apply text-base md:text-lg;
  }
}
