@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply transition-colors text-light-text dark:text-dark-text;
  }
}

@layer utilities {
  .app-grid {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
  }

  .text-heading {
    @apply ~text-base/2xl font-bold;
  }

  .text-content {
    @apply ~text-sm/xl;
  }

  .text-accent {
    @apply text-light-accent dark:text-dark-accent;
  }

  .bg-primary {
    @apply bg-light-primary dark:bg-dark-primary;
  }

  .bg-secondary {
    @apply bg-light-secondary dark:bg-dark-secondary;
  }

  .bg-accent {
    @apply bg-light-accent dark:bg-dark-accent;
  }

  .bg-gray {
    @apply bg-light-gray dark:bg-dark-gray;
  }

  .border-t-slate {
    @apply border-t-light-slate dark:border-t-dark-slate;
  }

  .border-b-slate {
    @apply border-b-light-slate dark:border-b-dark-slate;
  }

  .border-r-slate {
    @apply border-r-light-slate dark:border-r-dark-slate;
  }

  .border-slate {
    @apply border-light-slate dark:border-dark-slate;
  }

  .border-accent {
    @apply border-light-accent dark:border-dark-accent;
  }
}
